.env
.env.*
!.env.example
package.json
package-lock.json
!frontend/repas_sur_frontend2/package.json
!frontend/repas_sur_frontend2/package-lock.json
.idea/
.m2-local/
**/node_modules/
**/dist/
**/target/
**/.angular/cache/
*.log
*.tmp
dependency-check-data/
lighthouse-report.report.html
lighthouse-report.report.json
